/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 

.menu{margin:0 auto; padding:0; height:30px; width:100%; display:block; background:url('http://www.cssmenubuilder.com/menu/h1/topMenuImages.png?i=4&w=500&bt=line_stroke&b1=101,101,101&b2=204,204,204&c1=101,101,101&c2=204,204,204&itc=255,255,255&c3=120,120,120&c4=84,84,84&htc=255,255,255&c5=159,178,214&c6=195,207,230&atc=255,255,255') repeat-x;}
.menu li{padding:0; margin:0; list-style:none; display:inline;}
.menu li a{float:left; padding-left:15px; display:block; color:rgb(255,255,255); text-decoration:none; font:12px Verdana, Arial, Helvetica, sans-serif; cursor:pointer; background:url('http://www.cssmenubuilder.com/menu/h1/topMenuImages.png?i=4&w=500&bt=line_stroke&b1=101,101,101&b2=204,204,204&c1=101,101,101&c2=204,204,204&itc=255,255,255&c3=120,120,120&c4=84,84,84&htc=255,255,255&c5=159,178,214&c6=195,207,230&atc=255,255,255') 0px -30px no-repeat;}
.menu li a span{line-height:30px; float:left; display:block; padding-right:15px; background:url('topMenuImages.png') 100% -30px no-repeat;}
.menu li a:hover{background-position:0px -60px; color:rgb(255,255,255);}
.menu li a:hover span{background-position:100% -60px;}
.menu li a.active, .menu li a.active:hover{line-height:30px; font:12px Verdana, Arial, Helvetica, sans-serif; background:url('topMenuImages.png') 0px -90px no-repeat; color:rgb(255,255,255);}
.menu li a.active span, .menu li a.active:hover span{background:url('topMenuImages.png') 100% -90px no-repeat;}